REACT_APP_SPRING_BACKEND_BASE_URL=https://backend-1-uaj1.onrender.com
REACT_APP_SPRING_BASE_URL=https://backend-1-uaj1.onrender.com
REACT_APP_AI_SERVICE_BASE_URL=https://ai-service-ky1g.onrender.com
REACT_APP_MARKETING_API_BASE_URL=https://backend-1-uaj1.onrender.com/api/marketing
REACT_APP_API_BASE_URL=https://backend-1-uaj1.onrender.com
