REACT_APP_SPRING_BACKEND_BASE_URL=https://backend-8uxd.onrender.com
REACT_APP_SPRING_BASE_URL=https://backend-8uxd.onrender.com
REACT_APP_AI_SERVICE_BASE_URL=https://ai-service-iqspzn5kb-havi5.vercel.app
REACT_APP_MARKETING_API_BASE_URL=https://backend-8uxd.onrender.com/api/marketing
REACT_APP_API_BASE_URL=https://backend-8uxd.onrender.com
